# hidden files
.*

# python compiled files
*.pyc

# jekyll debug
_site

# Jeykll Gemfile.lock
Gemfile.lock

# yui-compressor
*.jar

# bundle cache
vendor

# for some reason, running locally should add require 'em/pure_ruby' in Gemfile, but shouldn't on github pages. hum.....
Gemfile
Gemfile
